<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="goodee.gdj58.online.mapper.ExampleMapper">
	<!-- 보기 수정 -->
	<update id="updateExample" parameterType="goodee.gdj58.online.vo.Example">
		UPDATE example 
		SET example_idx = #{exampleIdx}, example_title = #{exampleTitle}, example_ox = #{exampleOx}
		WHERE example_no = #{exampleNo}
	</update>
	
	<!-- 보기 삭제 -->
	<delete id="deleteExample" parameterType="int">
		DELETE FROM example WHERE example_no = #{exampleNo}
	</delete>
	
	<!-- 보기 입력 -->
	<insert id="insertExample" parameterType="goodee.gdj58.online.vo.Example">
		INSERT INTO example(question_no, example_idx, example_title, example_ox)
		VALUES(#{questionNo}, #{exampleIdx}, #{exampleTitle}, #{exampleOx});
	</insert>

	<!-- 해당 문제 보기 -->
	<select id="selectExampleByQuestion" parameterType="int" resultType="java.util.Map">
		SELECT 
			example_no exampleNo
			, question_no questionNo
			, example_idx exampleIdx
			, example_title exampleTitle
			, example_ox exampleOx
		FROM example
		WHERE question_no = #{questionNo}
	</select>
</mapper>