<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="goodee.gdj58.online.mapper.QuestionMapper">
	<!-- 문제 보기 개수 확인 -->
	<select id="selectExampleCountByQuestion" parameterType="int" resultType="int">
		SELECT COUNT(*) 
		FROM question q 
			JOIN example e ON q.question_no = e.question_no
		WHERE q.question_no = #{questionNo}
	</select>
	
	<!-- 본인 문제 확인 -->
	<select id="selectTeacherCkByQuestion" parameterType="java.util.Map" resultType="int">
		SELECT question_no, te.teacher_no
		FROM question q
			JOIN test t ON q.test_no = t.test_no
			JOIN teacher te ON t.teacher_no = te.teacher_no
		WHERE te.teacher_no = #{teacherNo} AND question_no = #{questionNo}
	</select>
	
	<!-- 문제 수정 -->
	<update id="updateQuestion" parameterType="goodee.gdj58.online.vo.Question">
		UPDATE question
		SET question_idx = #{questionIdx}, question_title = #{questionTitle} 
		WHERE question_no = #{questionNo} AND test_no = #{testNo}
	</update>
	
	<!-- 문제 삭제 -->
	<delete id="deleteQuestion" parameterType="int">
		DELETE FROM question WHERE question_no = #{questionNo}
	</delete>
	
	<!-- 가장 최근 문제 코드 -->
	<select id="selectMaxQuestionNo" resultType="int">
		SELECT MAX(question_no) questionNo FROM question
	</select>
	
	<!-- 문제 등록 -->
	<insert id="insertQuestion" parameterType="goodee.gdj58.online.vo.Question">
		INSERT INTO question(test_no, question_idx, question_title) VALUES(#{testNo}, #{questionIdx}, #{questionTitle})
	</insert>

	<!-- 해당 시험 문제 정보 -->
	<select id="selectQuestionListByTest" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			q.question_no questionNo
			, q.test_no testNo
			, question_idx questionIdx
			, question_title questionTitle
			, example_no exampleNo
			, example_idx exampleIdx
			, example_title exampleTitle
			, example_ox exampleOx
		FROM question q
		LEFT JOIN example e ON q.question_no = e.question_no
		JOIN test t ON q.test_no = t.test_no
		WHERE q.test_no = #{testNo} 
		<if test="teacherNo != null">
			AND teacher_no = #{teacherNo}
		</if>
		ORDER BY question_idx, example_idx
	</select>
</mapper>